@import url('https://fonts.googleapis.com/css?family=Bangers&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&subset=latin-ext');

/* nastaveni barev */
:root {
	--cervena: #ff0844;
	--oranzova: #ffb199;
	--seda: #e0e0e0;
}

html { box-sizing: border-box; }
*, ::before, :after { box-sizing: inherit; }

body {
	margin: 0;
	min-height: 100vh;
	font-family: 'Nunito', sans-serif;
	color: white;
	background-image: linear-gradient(to top, var(--cervena) 0%, var(--oranzova) 100%);
}

h1, h2, h3 {
	font-family: 'Bangers', cursive;
	font-weight: normal;
}

h1 {
	margin: 30px 0;
	font-size: 120px;
	color: white;
	text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
	letter-spacing: 5px;
}

h2 {
  color: var(--cervena);
  text-align: center;
}

.kviz,
.vysledek {
	margin: 30px auto;
	padding: 50px;
	width: 800px;
	min-height: 400px;
	background-color: white;
	color: black;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#poradi {
	margin: 0 0 20px 0;
	font-family: 'Bangers', cursive;
	font-size: 24px;
	text-align: center;
	color: var(--cervena);
}

#otazka {
	margin: 20px 0 30px 0;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	color: black;
  text-transform: uppercase;
  font-weight: bold;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.obsah {
	display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
	align-items: flex-start;
  justify-items: center;
}

.foto {
	width: 250px;
  border-radius: 20%;
}

.moznosti {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.obrazek {
	padding: 0 0 0 30px;
	width: 100%;
	height: auto;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}


#odpovedi {
	margin: 0;
	padding: 0 0 0 60px;
	font-size: 24px;
	list-style: none;
}

#odpovedi li {
	margin: 0 0 20px 0;
	padding: 10px 30px;
	background-color: var(--seda);
	border-radius: 100px;
	transition: all 0.2s;
	transform: translateX(0);
  width: 300px;
}

#odpovedi li:hover {
	background-color: var(--cervena);
	color: white;
	cursor: pointer;
	transform: translateX(-10px);
}


.vysledek {
	display: none;
}

.vysledek h2 {
	margin-top: 0;
	font-size: 36px;
	color: var(--cervena);
}

.gratulujeme-nadpis {
	font-size: 28px;
	color: var(--cervena);
}

.gratulujeme {
  font-size: 18px;
  font-weight: bold;
}